<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::Layout(~{::div})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Manager - About</title>
   
</head>

<body>

    <div class="main-content">
        <h2>About Contact Manager</h2><br>
        <p1>Contact Manager is a web application designed to help you organize and manage your contacts seamlessly.
			<br>
            Whether you're a business professional or an individual, our platform provides a user-friendly interface
            for easy contact management.</p1>
            <br>
       
        <p2>Key Features:</p2>
        <br>
        <p3>
            Efficiently organize your contacts.<br>
            Add, edit, and delete contacts with ease.<br>
            User-friendly interface for a smooth experience.<br>
            Secure login to protect your contact information.<br>
       </p3>
    </div>

</body>

</html>
